@media (max-width: 768px) {
          #topbar .contact-info,
          #topbar  .social-links
           {
            display: none;
          }
.nav{
  justify-content: center;
  display: flex;
  font-size: 12px;
  padding-top: 25px;

}
                .hero {
                    padding: 30px 0 0 0;
                    display: flex;
                    justify-content: center;
                  
                  
                  }
                  .hero .hero__content {
                    padding-right: 0;
                  }
                  

.hero .lg {
  overflow: hidden;
  border-radius: 0;
  width: 350px;
}

.hero  .sm {
  overflow: hidden;
  border-radius: 0;
  width: 350px;
}
.hero .card-lg{
  background: #fff;
  border-top: 2px solid #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -30px;
  transition: 0.3s;
  width: 300px;
  padding: 10px;
  position: relative;
  margin-left: 15px;
  text-align: center;
}
             
                  .hero .card {
                    background: #fff;
                    border-top: 2px solid #fff;
                    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                    margin-top: -30px;
                    transition: 0.3s;
                    width: 300px;
                    padding: 10px;
                    position: relative;
                    margin-left: 15px;
                    text-align: center;
                  
                  
                  }
                  .hero  .hero__header {
                    color: #003b5c;
                    transition: 0.3s;
                    display: inline-flex;
                    font-size: 12px;
                  
                  }
                  
                  .hero .hero__text h3{
                    font-size: 25px;
                    color: #003b5c;
                  
                  }
                  .hero .hero__text p{
                    font-size: 14px;
                  }
                  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: flex;
  color: #808080;
  justify-content: center;
  padding: 20px 5px;
  text-decoration: none;
  font-size: 12px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
          padding: 15px 0;
          overflow: hidden;
          
        }
        
        .section-bg {
          background-color: #f2f5fa;
        }
        
        .content__title {
          text-align: center;
          padding-bottom: 15px;
          color: #003b5c;
          justify-content: center;
          display: flex;
        
        }
        
        .content__title h2 {
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 10px;
          padding-bottom: 0;
          box-shadow: 0 0  15px rgba(0, 0, 0, 0.11);
          padding:5px 20px;
          border-right: 5px;
          letter-spacing: 3px;
        }
        
        .content .content__subtitle{
          display: flex;
          justify-content: center;
        
        }
        .content .content__subtitle__link{
          position: relative;
          z-index: 999;
          right: 110px;
          color: rgb(236, 117, 81);
          text-decoration: none;
          font-size: 12px;
        }
        
        .content .content__list{
          display: flex;
          justify-content: center;
        }
        .content .content__list .card{
         padding: 10px;
         width: 300px;
         color: rgb(66, 106, 124);
        
        }
        .content .content__list .card img{
         width: 300px;

        }
        .content .content__list .card .card__header{
          display: inline-flex;
          font-size: 14px;
        
        }
        .content .content__list .card  p{
          font-size: 25px;
          font-weight: 700;
        }
        .content .content__list .card .card__link{
          text-decoration: none;
          color: rgb(236, 117, 81);
        
        }
        .newsletter{
          padding: 50px ;
          color: rgb(255, 255, 255);
        }
        .newsletter .newsletter__content{
        text-align: center;
        }
        .newsletter .newsletter__title{
          font-size: 20px;
        }
        .newsletter .newsletter__text{
          font-size: 15px;
        }
        .newsletter button{
          font-size:14px;
          padding: 7px 20px;
          border-bottom:2px solid rgb(236, 117, 81);
          border-right: 2px solid rgb(236, 117, 81);
          color: #003b5c;
          border-radius: 5px;
        }
        footer{
          background: rgb(236, 117, 81);
          padding: 20px 0;
        }
        footer .footer{
          display: flex;
          justify-content: center;
        }
        footer .footer .footer__logo{
          text-align: center;
        }
        footer .footer .footer__logo img{
          width: 50%;
          padding: 20px 0;

        }
        footer .footer .footer__item {
          list-style-type: none;
          padding: 20px;
          color: #f2f5fa;
        
        }
        footer .footer .footer__item ul li {
          line-height: 50px;
        }
        footer .footer .footer__button{
          background: none;
          border: 1px solid #e5e5e5;
          box-shadow: 11px 10px #0000003d;
          color: #fff;
          padding: 9px;
          font-size: 12px;
          width: 151px;
        }
        footer .footer .footer__item__media{
          padding: 5px;
        }
        
        footer .footer__legals .divider{
          border-top: 1px solid #fff;
          padding: 5px;
        }
        footer .footer__legals .wrapper{
          width: 100%;
          color: #fff;
          
        }
        footer .footer__legals__notice{
          float: left;
        
        }
        footer .footer__legals__copyright{
          float: right;
        
        }
      }


        .row {  
          display: flex;
          flex-wrap: wrap;
        }
        @media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}